<h1>Editing recruitment phase</h1>

<%= render "form", recruitment_phase: @recruitment_phase %>

<br>

<div>
  <%= link_to "Show this recruitment phase", @recruitment_phase %> |
  <%= link_to "Back to recruitment phases", recruitment_phases_path %>
</div>
